body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    background-color: #113036;
    color: #B0B0B0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #051C21;
    color: #B0B0B0;
    width: 100%;
    position: fixed;
    z-index: 999;
    height: 70px;
    border-radius: 0px 0px 8px 8px;
}

a {
    color: #BEBEBE;
}

pre {
    margin-top: -2px;
}

.desktop,
.leaflet-control-zoom-in,
.leaflet-top,
.leaflet-left {
    display: none;
}

.mapStyle {
    width: 100%;
    height: 1000px;
    border-radius: 8px;
}